h1{
  margin: 20px 0;
}

#lezioni img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 65%;
}

#lezioni {
  text-align: center;
  margin: 30px 0px;
}

/* BLOCCO STEPS */

#steps {
  margin-bottom: 50px;
}

#steps .left,
#steps .central,
#steps .right {
  margin-bottom: 30px;
}


#steps {
  text-align: center;
}

#steps img{
  width: 65%;
}


/* BLOCCO Why */
#why {
  text-align: center;
}

.first,
.second,
.third {
  width: 100%;
  margin: 40px 0;
}

#why img {
  background-color: #428bca;
  border-radius: 50%;
  margin: 20px 0;
  padding: 30px
}

#why h3,
#why p{
  line-height: 15px;
}

/* COMMON */


.container.grey {
  background-color: #f9f9f9;
  
}



img {
  height: 200px;
  
}

.clear {
  clear: both;
}

hr{
  display: inline-block;
  min-width: 100%;
  margin-top: 10px;
}